<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-2">
        <h4>Listado de Palcos</h4>
    </div>
    <table class="table table-sm table-striped table-hover table-bordered table-responsive-md">
        <thead class="table-light">
        <tr>
            <th style="width: 6rem;">Código</th>
            <th style="width: 15rem;">Nombre Palco</th>
            <th style="width: 15rem;">Aforo</th>
            <th style="width: 15rem;">Ubicación</th>
            <th style="width: 15rem;">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="palco:${palcoList}">
            <td th:text="${palco.idPalco}"></td>
            <td th:text="${palco.nombrePalco}"></td>
            <td th:text="${palco.aforo}"></td>
            <td th:text="${palco.ubicacion}"></td>
            <td>
                <a th:href="@{/view/{id}(id=${palco.idPalco})}" class="btn btn-sm btn-primary"><i class="bi bi-eye"></i></a>
                <a th:href="@{/edit/{id}(id=${palco.idPalco})}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>

                <a th:href="@{/remove/{id}(id=${palco.idPalco})}"
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('¿Estás seguro de que deseas eliminar este palco?');">
                    <i class="bi bi-trash3"></i>
                </a>


            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/nuevo}" class="btn btn-secondary">Nuevo palco</a>
    <br><br>
    <a th:href="@{/}" class="btn btn-secondary">Volver</a>
</div>

</body>


<script>
    const error = /*[[${error}]]*/ null;
    const mensaje = /*[[${mensaje}]]*/ null;

    console.log("Error:", error);
    console.log("Mensaje:", mensaje);

    if (error) {
      alert(error);
    } else if (mensaje) {
      alert(mensaje);
    }
</script>




</html>