<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-2">
        <h4>Listado de Reservas</h4>
    </div>
    <table class="table table-sm table-striped table-hover table-bordered table-responsive-md">
        <thead class="table-light">
        <th style="width: 6rem;">Código</th>
        <th style="width: 15rem;">Nombre Usuario</th>
        <th style="width: 15rem;">RUC</th>
        <th style="width: 15rem;">Palco</th>
        <th style="width: 15rem;">Fecha</th>
        <th style="width: 15rem;">Hora Inicio</th>
        <th style="width: 15rem;">Hora Final</th>
        <th style="width: 15rem;">Estado</th>
        <th style="width: 15rem;">Acciones</th>
        </thead>
        <tbody>
        <tr th:each="reserva:${reservaList}">
            <td th:text="${reserva.idReserva}"></td>
            <td th:text="${reserva.usuario.nombreUsuario}"></td>
            <td th:text="${reserva.usuario.ruc}"></td>
            <td th:text="${reserva.palco.nombrePalco}"></td>
            <td th:text="${reserva.fecha}"></td>
            <td th:text="${reserva.horaInicio}"></td>
            <td th:text="${reserva.horaFinal}"></td>
            <td th:text="${reserva.estado}"></td>
            <td>
                <a th:href="@{/view/{id}(id=${reserva.idReserva})}" class="btn btn-sm btn-primary"><i class="bi bi-eye"></i></a>
                <a th:href="@{/edit/{id}(id=${reserva.idReserva})}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>
                <a th:href="@{/remove/{id}(id=${reserva.idReserva})}" class="btn btn-sm btn-danger"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>